    .headerSection {
        background-image: url('/path/to/your/background-image.jpg'); 
        background-size: cover;
        background-position: center;
        padding: 60px 20px; 
        text-align: center;
        color: white;
    }

    .headerContent {
        max-width: 800px; 
        margin: 0 auto;
    }

    .headerContent h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .headerContent p {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    .urlInputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    .urlInput {
        padding: 15px;
        width: 80%;
        max-width: 400px; 
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    .analyzeButton {
        padding: 15px 30px;
        background-color: #ff9800; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 20px; 
    }

    .analyzeButton:hover {
        background-color: #e68a00; 
    }

    /* Indicadores de validez */
    .valid {
        border-color: rgb(14, 190, 14);
        border: 2px solid rgb(14, 190, 14);
    }

    .invalid {
        border-color: red;
        border: 2px solid red;
    }

    /* Media Queries para pantallas más grandes */
    @media (min-width: 768px) {
        .urlInputWrapper {
            flex-direction: row;
        }

        .analyzeButton {
            margin-top: 0;
        }
    }

    @media (min-width: 1200px) {
        .headerContent h1 {
            font-size: 2.5rem;
        }

        .headerContent p {
            font-size: 1.5rem;
        }

        .urlInputWrapper {
            gap: 20px;
        }
    }
