* {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  margin-inline-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  font-family: Montserrat;
}

.container {
  width: 100%; 
  position: fixed; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: all 200ms ease;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Ajusta según sea necesario */
  z-index: 10;
}

.rightComponent {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}

.logo {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: left;    
}

.burgerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.2rem 0.2rem;
  background-color: #F8A800;
  transition: all 200ms ease;
}

ion-icon {
  color: white;
  font-size: 1.2rem;
}

.burgerBtn:hover {
  border-radius: 8px;
  background-color: #df9800; 
}

.image {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 200ms ease;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .burgerBtn {
    display: none;
  }

  .navbar {
    display: flex !important; /* Ensure the navbar is always displayed on large screens */
    flex-direction: row;
  }
}
