
*{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    font-family: Montserrat;
  }

.container{
  border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content:right;
  }

  .leftComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-right: 3rem;
  }

  .rightComponent{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: left;  
    object-fit: cover;
}
/* 
.link{
  position: absolute;
  top: 0;
  left: 0;
} */

.image{
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}


@media (min-width: 768px) {
  .burgerBtn{
    display: none;
  }
} 
