
*{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    font-family: Montserrat;
  }

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
   
  }

  .logo{
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;  
    object-fit: cover;
  }

.image{
  display: flex;
  align-items: center;
  justify-content: center   ;
    width: 80%;
  }
