*{
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  margin-inline-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  font-family: Montserrat;
}
.navbar {
  display: none;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrarBtn{
  cursor: pointer;
}

.link{
  color: var(--primary900);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burgerBtn {
    display: none;  
  }

  .navbar {
    height: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbar > * {
    margin: 0 1rem; 
  }
} 