.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Montserrat;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 8rem;
}

.section {
  border-bottom: 1px solid #dee2e6;
}

.section:last-child {
  border-bottom: none;
}

.button {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.2rem;
  text-align: left;
  background-color: #F3F3F3;
  border: none;
  border-bottom: 1px solid #dee2e6;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.button:hover {
  background-color: #F3F3F3;
}

.icon {
  font-size: 1.5rem;
}

.componentContainer {
  padding: 20px;
  background-color: #F3F3F3;
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  .button {
      font-size: 1rem;
      padding: 10px;
      
  }

  .componentContainer {
      padding: 10px;
  }
}
