.scaners-container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

#history-div-data {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#history-article {
    margin: 12px 0;
    border: solid 5px beige;
    border-radius: 25px;
    margin: 15px;
}

.history-data {
    padding: 2px 0;
    display: flex;
    justify-content: center;
}

#history-score {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 7.3rem;
    margin-left: 14.8rem;
}

#history-div-graphic {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 10rem;
}