/* General styles for the container */


.register-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../assets/Registro.jpg') no-repeat center center;
    background-size: cover;
    padding: 2rem;
    box-sizing: border-box;
    
}

.register-login h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.register-login form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-top: 50px;
}

.register-login form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.register-login form input, 
.register-login form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}

.register-login form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0044cc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-login form button[type="submit"]:hover {
    background-color: #003399;
}

.register-login .error {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 15px;
}

.register-login button {
    margin-top: 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: #0044cc;
    cursor: pointer;
    text-decoration: underline;
}

.register-login button:hover {
    color: #003399;
}

/* Media Queries */

/* Small devices (mobile phones, 320px and up) */
@media (max-width: 480px) {
    .register-login form {
        padding: 15px;
    }

    .register-login form label,
    .register-login form input,
    .register-login form select,
    .register-login form button[type="submit"] {
        font-size: 12px;
    }

    .register-login h2 {
        font-size: 20px;
    }

    .register-login form input, 
    .register-login form select {
        width: calc(100% - 10px);
        padding: 8px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .register-login {
        padding: 1.5rem;
    }

    .register-login form {
        padding: 20px;
    }

    .register-login form label,
    .register-login form input,
    .register-login form select,
    .register-login form button[type="submit"] {
        font-size: 14px;
    }

    .register-login h2 {
        font-size: 22px;
    }
}

/* Large devices (desktops, 1024px and up) */
@media (max-width: 1024px) {
    .register-login form {
        max-width: 350px;
    }

    .register-login h2 {
        font-size: 24px;
    }
}

