#result-canvas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
 
}

#index-cuerpo {
    margin-top: 70px;
    margin-bottom: 10px;
}

#analysis-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#analysis-genral {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px;
 
}

#result-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;  
    font-family: Montserrat;
}