*{
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  font-family: Montserrat;
}

.container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #050E3C;
}

.logo{
  display: none;
  justify-content: center;
  align-items: center;  
  object-fit: cover;
}

.image{
  width: 30%;
}
  
.bottomBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.bottomBar ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.bottomBar ul li{
  cursor: pointer;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #050E3C;
}


.bottomBar ul li a{
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
    padding: 1rem 1rem;
  color: rgb(218, 218, 218);
  text-decoration: none;
  transition: all 200ms ease;
}

.bottomBar ul li span{
  cursor: none;
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
    padding: 1rem 1rem;
  color: rgb(218, 218, 218);
  text-decoration: none;
  transition: all 200ms ease;
}

.bottomBar ul li a:hover{
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
}



/* Responsividad */
@media (min-width: 600px) {
  .bottomBar ul {
    flex-direction: row; 
  }

}

@media (min-width: 900px) {
  .container {
    flex-direction: row; /* Los elementos se alinean en fila en pantallas grandes */
    justify-content: space-around;
    /* max-height: 10vh; */
  }

  .logo {
    display: flex;
  }

/* 
  .bottomBar {
    width: auto;
  } */

  .bottomBar ul {
    flex-direction: row;
    /* width: auto; */
  }

  /* .bottomBar ul li {
    width: auto;
  }*/
}