/* src/components/ImageTextSection.css */
.imageTextSection {
    background-image: url(../../../assets/Home/Ultima_imagen_home.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f4f4f9;
    text-align: center;
    width: 100%;
}

.sectionImage {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sectionText {
    max-width: 800px;
}

.sectionText h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.sectionText p {
    color: #555;
    line-height: 1.6;
}
