/* src/components/ImageTextSection.css */
* {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-inline-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    font-family: Montserrat;
  }

.imageTextSection {
    background-image: url(../../../assets/Home/Ultima_imagen_home.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #f4f4f9;
    text-align: center;
    width: 100%;
    
}

.sectionImage {
    width: 100%;
   
    border-radius: 10px;
    overflow: hidden; /* Asegura que los bordes redondeados funcionen correctamente */
}

.sectionImage img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Esto asegurará que la imagen se recorte para llenar el contenedor */
}


.sectionText {
    max-width: 800px;
    
}

.sectionText h2 {
    padding: 60px;
    color: white;
    margin-bottom: 30px;
    margin-top: 40px;
}

.sectionText p {
    
    color: #555;
    line-height: 1.6;
}
